<!-- $title Employment -->
<!-- $bodyid about -->

<!-- @include head -->

	<!-- @include header -->

	<!-- @include hero -->

	<div id="content">

		<div class="wrap">

			<div id="main" role="main">

				<h1>We are University Mechanical Contractors, Inc., and we&rsquo;re here to change your mind.</h1>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed augue id lacus molestie consequat vitae a orci. Cras pulvinar vulputate odio, nec ultrices ipsum mattis pretium. Praesent tristique mauris sit amet nulla eleifend sodales. Praesent ac enim aliquam justo viverra semper. Proin aliquet egestas lectus, eget luctus nibh sagittis nec. Duis imperdiet quam aliquam eros fringilla pellentesque. Curabitur sit amet turpis eget turpis accumsan eleifend. Nulla facilisi. Nullam ut augue nec justo iaculis laoreet.</p>

				<div class="vcard">

					<h2>Please direct resumes to <a href="mailto:resumes@umci.com">resumes@umci.com</a> or mail them to:</h2>

					<div class="fn n org">University Mechanical Contractors, Inc.</div>

					<div class="adr">

						<div class="street-address">1161 49th Place West</div>

						<span class="locality">Mukilteo</span>, 

						<span class="region">Washington</span> 

						<span class="postal-code">98275-4255</span>
					
					</div>

				</div>

				<p>University Mechanical Contractors, Inc. is a Drug Free Work place and an Equal Employment Opportunity / Affirmative Action Employer. Contractor License # UNIVMC*343N9.</p>

				<div class="openings">

					<h3>Current Openings</h3>

					<ul>
					
						<li>
						
							<a href="#">Project Manager</a>
							
						</li>

						<li>
						
							<a href="#">Lead VCS Coordinator</a>
							
						</li>

						<li>
						
							<a href="#">Marketing Director</a>
							
						</li>
					
					</ul>

				</div>

			</div>

			<div id="secondary">

				<!-- @include secondary-nav -->

			</div>

		</div>

	</div>

	<!-- @include recent -->

<!-- @include footer -->