<!-- $title Projects -->
<!-- $bodyid projects -->

<!-- @include head -->

	<!-- @include header -->

	<!-- @include filter -->

	<div id="content">

		<div class="wrap">

			<div id="main" role="main">

				<div id="project-list">

					<!-- Fail element -->

					<div class="fail_element">

						<em>No projects match this criteria.</em>

					</div>

					<!-- Individual Projects -->

					<div class="project mix expertise-three market-one market-two market-three market-four">

						<a href="/projects/project.html">

							<img src="<!-- @path a/img/projects/thumbs/01.jpg -->" alt="Project description" />

							<h2 class="title">Project Title</h2>

						</a>

					</div>

					<div class="project mix expertise-two market-one market-two">

						<a href="/projects/project.html">

							<img src="<!-- @path a/img/projects/thumbs/01.jpg -->" alt="Project description" />

							<h2 class="title">Project Title</h2>

						</a>

					</div>

					<div class="project mix expertise-four market-one market-three">

						<a href="/projects/project.html">

							<img src="<!-- @path a/img/projects/thumbs/01.jpg -->" alt="Project description" />

							<h2 class="title">Project Title</h2>

						</a>

					</div>

					<div class="project mix expertise-one market-one market-two market-three">

						<a href="/projects/project.html">

							<img src="<!-- @path a/img/projects/thumbs/01.jpg -->" alt="Project description" />

							<h2 class="title">Project Title</h2>

						</a>

					</div>

					<div class="project mix expertise-one market-one market-three">

						<a href="/projects/project.html">

							<img src="<!-- @path a/img/projects/thumbs/01.jpg -->" alt="Project description" />

							<h2 class="title">Project Title</h2>

						</a>

					</div>

					<div class="project mix expertise-two market-one market-three">

						<a href="/projects/project.html">

							<img src="<!-- @path a/img/projects/thumbs/01.jpg -->" alt="Project description" />

							<h2 class="title">Project Title</h2>

						</a>

					</div>

					<div class="project mix expertise-five market-one market-three">

						<a href="/projects/project.html">

							<img src="<!-- @path a/img/projects/thumbs/01.jpg -->" alt="Project description" />

							<h2 class="title">Project Title</h2>

						</a>

					</div>

					<div class="project mix expertise-four market-one market-four">

						<a href="/projects/project.html">

							<img src="<!-- @path a/img/projects/thumbs/01.jpg -->" alt="Project description" />

							<h2 class="title">Project Title</h2>

						</a>

					</div>

					<div class="project mix expertise-two market-one market-two market-three market-four">

						<a href="/projects/project.html">

							<img src="<!-- @path a/img/projects/thumbs/01.jpg -->" alt="Project description" />

							<h2 class="title">Project Title</h2>

						</a>

					</div>

					<div class="project mix expertise-two market-one market-two market-three">

						<a href="/projects/project.html">

							<img src="<!-- @path a/img/projects/thumbs/01.jpg -->" alt="Project description" />

							<h2 class="title">Project Title</h2>

						</a>

					</div>

					<div class="gap"></div>

				</div>

			</div>

		</div>

	</div>

	<!-- @include recent -->

<!-- @include footer -->