<!-- $title Project Title -->
<!-- $bodyid project -->

<!-- @include head -->

	<!-- @include header -->

	<!-- @include carousel -->

	<div id="content">

		<div class="wrap">

			<div id="main" role="main">

				<h1>Project Title</h1>

				<div class="description">

					<h2>Description:</h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed augue id lacus molestie consequat vitae a orci. Cras pulvinar vulputate odio, nec ultrices ipsum mattis pretium. Praesent tristique mauris sit amet nulla eleifend sodales. Praesent ac enim aliquam justo viverra semper. Proin aliquet egestas lectus, eget luctus nibh sagittis nec. Duis imperdiet quam aliquam eros fringilla pellentesque. Curabitur sit amet turpis eget turpis accumsan eleifend. Nulla facilisi. Nullam ut augue nec justo iaculis laoreet.</p>

				</div>

				<div class="challenges">

					<h2>Challenges / Lessons Learned:</h2>

					<ul>
					
						<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed augue id lacus molestie consequat vitae a orci.</li>
						
						<li>Ut dictum accumsan neque et volutpat. Ut purus nunc, tincidunt vulputate eleifend ultrices, eleifend at diam.</li>
						
						<li>Duis semper varius sapien, hendrerit aliquet augue tempus vel.</li>

					</ul>
					
				</div>

			</div>

			<div id="secondary">

				<div class="meta">

					<div class="complete">

						<h2>Year complete: 2012</h2>

					</div>

					<div class="facts">

						<h3>Quick Facts</h3>
					
						<ul>
						
							<li>Owner: General Services Administration</li>
							<li>GC: Sellen Construction</li>
							<li>Architect: ZGF Architecture</li>
							<li>Engineer: WSP Flack + Kurtz</li>

						</ul>
					
					</div>

					<div class="features">

						<h3>Features</h3>

						<ul>

							<li>Passive form and shading</li>
							<li>Daylighting</li>
							<li>DOAS 100% OSA ventilation</li>
							<li>Chilled Sails</li>
							<li>Heat-recovery chillers</li>
							<li>Phase Change Material Tank</li>
							<li>Ground loop heat exchanger</li>
							<li>Rainwater harvesting</li>
							<li>175,000 sq. ft. / Guaranteed EUI = 27</li>
							
						</ul>
					
					</div>

				</div>

				<div class="back-to">

					<a href="/projects/"><span>&larr;</span> Back to Projects</a>

				</div>

			</div>

		</div>

	</div>

	<!-- @include recent -->

<!-- @include footer -->