<!-- $title Post -->
<!-- $bodyid post -->

<!-- @include head -->

	<!-- @include header -->

	<!-- @include hero -->

	<div id="content">

		<div class="wrap">

			<div id="main" role="main">

				<article class="hentry">

					<h1>Blog Headline</h1>
	
					<footer>
	
						<time datetime="">12 April 2013</time>

						<p class="author">by Gail Kinner</p>
	
					</footer>
	
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed augue id lacus molestie consequat vitae a orci. Cras pulvinar vulputate odio, nec ultrices ipsum mattis pretium. Praesent tristique mauris sit amet nulla eleifend sodales. Praesent ac enim aliquam justo viverra semper. Proin aliquet egestas lectus, eget luctus nibh sagittis nec. Duis imperdiet quam aliquam eros fringilla pellentesque. Curabitur sit amet turpis eget turpis accumsan eleifend. Nulla facilisi. Nullam ut augue nec justo iaculis laoreet.</p>

					<p>Ut dictum accumsan neque et volutpat. Ut purus nunc, tincidunt vulputate eleifend ultrices, eleifend at diam. Morbi nisi elit, adipiscing ut gravida at, feugiat vel mi. Aliquam nisl nisl, vehicula sit amet sagittis ut, mollis rutrum sem. Integer urna purus, fringilla et blandit sed, viverra vitae enim. Nulla tempor molestie rhoncus. Donec vitae lacus magna, ac fermentum nisl. Morbi et elementum augue. Donec facilisis nisi eu mauris commodo sit amet posuere quam rhoncus. Aliquam sit amet neque vitae orci convallis mollis. Donec nec dignissim sem. Integer scelerisque purus et nisi euismod non egestas felis rhoncus. Proin vel ligula erat, quis tincidunt sapien. Aliquam erat volutpat. Suspendisse potenti. Fusce scelerisque scelerisque diam quis viverra.</p>
					
					<p>Duis semper varius sapien, hendrerit aliquet augue tempus vel. Curabitur adipiscing bibendum nibh, vestibulum posuere neque lacinia eu. Duis egestas tortor ac justo euismod sit amet cursus arcu pellentesque. Sed vitae dolor eu magna posuere suscipit. Nullam ullamcorper, diam ac commodo placerat, augue nulla viverra libero, in aliquet odio justo a ligula. In consectetur lorem lorem. Curabitur metus velit, mollis vitae rhoncus id, consequat eu sem.</p>

				</article>

				<div id="share">
				
					<h3>Share</h3>
					
					<ul>
					
						<li class="facebook">
						
							<a href="#" rel="external">Facebook</a>
							
						</li>

						<li class="twitter">
						
							<a href="#" rel="external">Twitter</a>
							
						</li>

						<li class="google">
						
							<a href="#" rel="external">Google Plus</a>
							
						</li>

						<li class="pinterest">
						
							<a href="#" rel="external">Pinterest</a>
							
						</li>

						<li class="email">
						
							<a href="#" rel="external">Email</a>
							
						</li>

					</ul>
				
				</div>

				<div id="comments">

					<h3>Comment</h3>

					<form name="contact" action="" method="">
		
						<ol>

							<li>
								<label for="name">Name <span class="required">(Required)</span></label>
								<input name="name" type="text" />
							</li>

							<li>
								<label for="email">Email <span class="required">(Required; Will Not be Published)</span></label>
								<input name="email" type="text" />
							</li>

							<li>
								<label for="company">Company</label>
								<input name="company" type="text" />
							</li>

							<li>
								<label for="comment">Comment</label>
								<textarea name="comment"></textarea>
							</li>

						</ol>
		
						<button type="submit">Submit Comment</button>
		
					</form>

				</div>

			</div>

			<div id="secondary">

				<!-- @include factoid -->

			</div>

		</div>

	</div>

	<!-- @include recent -->

<!-- @include footer -->