<!-- $title Blog -->
<!-- $bodyid blog -->

<!-- @include head -->

	<!-- @include header -->

	<!-- @include hero -->

	<div id="content">

		<div class="wrap">

			<div id="main" role="main">

				<article class="summary">

					<h1>
	
						<a href="/about/blog/article.html">Blog Headline</a>
	
					</h1>
	
					<footer>
	
						<time datetime="">12 April 2013</time>

						<p class="author">by Gail Kinner</p>
	
					</footer>
	
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

					<div class="more">

						<a href="/about/blog/article.html">Read More</a>

					</div>

				</article>

				<article class="summary">

					<div class="featured-image">

						<img src="<!-- @path featured-image-small.jpg -->" alt="Description of photo." />

					</div>

					<h1>
	
						<a href="/about/blog/article.html">Blog Headline</a>
	
					</h1>
	
					<footer>
	
						<time datetime="">12 April 2013</time>

						<p class="author">by Gail Kinner</p>
	
					</footer>
	
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

					<div class="more">

						<a href="/about/blog/article.html">Read More</a>

					</div>

				</article>

				<article class="summary">

					<h1>
	
						<a href="/about/blog/article.html">Blog Headline</a>
	
					</h1>
	
					<footer>
	
						<time datetime="">12 April 2013</time>

						<p class="author">by Gail Kinner</p>
	
					</footer>
	
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

					<div class="more">

						<a href="/about/blog/article.html">Read More</a>

					</div>

				</article>

				<article class="summary">

					<h1>
	
						<a href="/about/blog/article.html">Blog Headline</a>
	
					</h1>
	
					<footer>
	
						<time datetime="">12 April 2013</time>

						<p class="author">by Gail Kinner</p>
	
					</footer>
	
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

					<div class="more">

						<a href="/about/blog/article.html">Read More</a>

					</div>

				</article>

			</div>

			<div id="secondary">

				<!-- @include factoid -->

			</div>

		</div>

	</div>

	<!-- @include recent -->

<!-- @include footer -->