<div id="carousel">

	<div class="wrap">

		<div class="flexslider">

			<ul class="slides">

				<li>

					<span data-picture data-alt="Description of image.">

						<span data-src="<!-- @path small/01.jpg -->"></span>

						<span data-src="<!-- @path medium/01.jpg -->" data-media="(min-width: 420px)"></span>
	
						<span data-src="<!-- @path large/01.jpg -->" data-media="(min-width: 640px)"></span>
	
						<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
	
						<noscript>
						
							<img src="<!-- @path small/01.jpg -->" alt="Description of image." />
						
						</noscript>

					</span>

				</li>

				<li>

					<span data-picture data-alt="Description of image.">
				
						<span data-src="<!-- @path small/02.jpg -->"></span>

						<span data-src="<!-- @path medium/02.jpg -->" data-media="(min-width: 420px)"></span>

						<span data-src="<!-- @path large/02.jpg -->" data-media="(min-width: 640px)"></span>
	
						<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
	
						<noscript>

							<img src="<!-- @path small/02.jpg -->" alt="Description of image." />
						
						</noscript>

					</span>
				
				</li>

				<li>

					<span data-picture data-alt="Description of image.">
				
						<span data-src="<!-- @path small/03.jpg -->"></span>

						<span data-src="<!-- @path medium/03.jpg -->" data-media="(min-width: 420px)"></span>
	
						<span data-src="<!-- @path large/03.jpg -->" data-media="(min-width: 640px)"></span>
	
						<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
	
						<noscript>
						
							<img src="<!-- @path small/03.jpg -->" alt="Description of image." />
						
						</noscript>

					</span>
				
				</li>

			</ul>

		</div>

	</div>

</div>