<div class="featured">

	<div class="section-header">

		<h2>Featured <span>Build / Construction</span> Project</h2>

		<div class="more">

			<a href="#">View All</a>

		</div>

	</div>

	<div class="featured-project">

		<img src="<!-- @path small/01.jpg -->" alt="Description of image." />

		<div class="copy">

			<h1>

				<a href="#">Project Title</a>

			</h1>

			<p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

		</div>

	</div>

</div>