<div id="filter">

	<div class="wrap">

		<div class="title">Filter Projects:</div>

		<div id="filters">

			<div class="pulldown expertise">

				<span class="filter-by">By Expertise</span>
				
				<ul>

					<li class="active" data-filter="all" data-dimension="expertise">All</li>
					<li data-filter="expertise-one" data-dimension="expertise">Expertise One</li>
					<li data-filter="expertise-two" data-dimension="expertise">Expertise Two</li>
					<li data-filter="expertise-three" data-dimension="expertise">Expertise Three</li>
					<li data-filter="expertise-four" data-dimension="expertise">Expertise Four</li>
					<li data-filter="expertise-five" data-dimension="expertise">Expertise Five</li>
	
				</ul>
	
			</div>

			<div class="pulldown market">
	
				<span class="filter-by">By Core Markets</span>
				
				<ul>

					<li class="active" data-filter="all" data-dimension="market">All</li>
					<li data-filter="market-one" data-dimension="market">Market One</li>
					<li data-filter="market-two" data-dimension="market">Market Two</li>
					<li data-filter="market-three" data-dimension="market">Market Three</li>
					<li data-filter="market-four" data-dimension="market">Market Four</li>
	
				</ul>
	
			</div>

		</div>

	</div>

</div>