	<!-- Footer -->

	<footer id="footer" role="contentinfo">

		<div class="wrap">

			<div class="sites">

				<ul>

					<li>

						<a href="#">umccf.org</a>

					</li>

					<li>

						<a href="#">umci.constructionvaults.com</a>

					</li>

					<li>

						<a href="#">pipeline.umci.com</a>

					</li>

				</ul>

			</div>

			<div class="connect">

				<ul>

					<li class="linkedin">

						<a href="#" rel="external">LinkedIn</a>

					</li>

					<li class="twitter">

						<a href="#" rel="external">Twitter</a>

					</li>

				</ul>

			</div>

			<p id="copyright">&copy; 2013 University Mechanical Contractors, Inc. All rights reserved.</p>

		</div>

	</footer>

	<!-- Dev Mode -->

	<div id="dev">

		<div>Dev Mode</div>

		<p>
			
			<span class="px"></span>
			
			<span class="em"></span>
			
		</p>

	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

	<script>window.jQuery || document.write("<script src='/a/js/jquery.js'>\x3C/script>")</script>

	<script src="<!-- @path matchmedia.js -->"></script>

	<script src="<!-- @path picturefill.js -->"></script>

	<script src="<!-- @path flexslider.js -->"></script>

	<script src="<!-- @path mixitup.js -->"></script>

	<script src="<!-- @path mosaic.js -->"></script>

	<script src="<!-- @path enquire.js -->"></script>

	<!-- General Functions -->

	<script src="<!-- @path functions.js -->"></script>

</body>

</html>