<header id="header" role="banner">

	<div class="wrap">

		<div id="logo">

			<a href="/">University Mechanical Contractors</a>

		</div>

		<nav id="nav" role="navigation">

			<div class="toggle">Menu</div>

			<ul>

				<li class="">

					<a href="<!-- @path expertise/index.html -->">Expertise</a>

				</li>

				<li class="">

					<a href="<!-- @path markets/index.html -->">Core Markets</a>

				</li>

				<li class="">

					<a href="<!-- @path projects/index.html -->">Projects</a>

				</li>

				<li class="">

					<a href="<!-- @path resources/index.html -->">Resources</a>

				</li>

				<li class="">

					<a href="<!-- @path about/index.html -->">About Us</a>

				</li>

				<li class="">

					<a href="<!-- @path contact/index.html -->">Contact</a>

				</li>

			</ul>

		</nav>

	</div>

</header>