<div id="hero">

	<div class="wrap">

		<div class="hero">

			<span data-picture data-alt="Description of image.">

				<span data-src="<!-- @path small/01.jpg -->"></span>

				<span data-src="<!-- @path medium/01.jpg -->" data-media="(min-width: 420px)"></span>

				<span data-src="<!-- @path large/01.jpg -->" data-media="(min-width: 640px)"></span>

				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->

				<noscript>
				
					<img src="<!-- @path small/01.jpg -->" alt="Description of image." />
				
				</noscript>

			</span>

		</div>

	</div>

</div>