<div id="recent">

	<div class="wrap">

		<!-- Recent News Articles -->

		<div class="news">

			<div class="section-header">

				<h2>UMC News</h2>

				<div class="more">

					<a href="#">All News</a>

				</div>

			</div>

			<article class="summary">

				<img src="<!-- @path thumbnail-placeholder.svg -->" alt="News Headline" />

				<h1>

					<a href="#">News Story Headline</a>

				</h1>

				<footer>

					<time datetime="">12 April 2013</time>

				</footer>

				<p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

			</article>

			<article class="summary">

				<img src="<!-- @path thumbnail-placeholder.svg -->" alt="News Headline" />

				<h1>

					<a href="#">News Story Headline</a>

				</h1>

				<footer>

					<time datetime="">10 April 2013</time>

				</footer>

				<p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

			</article>

			<article class="summary">

				<img src="<!-- @path thumbnail-placeholder.svg -->" alt="News Headline" />

				<h1>

					<a href="#">News Story Headline</a>

				</h1>

				<footer>

					<time datetime="">8 April 2013</time>

				</footer>

				<p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

			</article>

		</div>

		<!-- Recent Blog Posts -->

		<div class="blog">

			<div class="section-header">

				<h2>UMC Blog</h2>

				<div class="more">

					<a href="<!-- @path about/blog/index.html -->">Entire Blog</a>

				</div>

			</div>

			<article class="summary">

				<img src="<!-- @path thumbnail-placeholder.svg -->" alt="Blog Headline" />

				<h1>

					<a href="<!-- @path about/blog/article.html -->">Blog Headline</a>

				</h1>

				<footer>

					<p class="author">by Gail Kinner</p>

				</footer>

				<p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

			</article>

			<article class="summary">

				<img src="<!-- @path thumbnail-placeholder.svg -->" alt="Blog Headline" />

				<h1>

					<a href="<!-- @path about/blog/article.html -->">Blog Headline</a>

				</h1>

				<footer>

					<p class="author">by Gail Kinner</p>

				</footer>

				<p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

			</article>

			<article class="summary">

				<img src="<!-- @path thumbnail-placeholder.svg -->" alt="Blog Headline" />

				<h1>

					<a href="<!-- @path about/blog/article.html -->">Blog Headline</a>

				</h1>

				<footer>

					<p class="author">by Gail Kinner</p>

				</footer>

				<p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

			</article>

		</div>

	</div>

</div>