<!-- $title Contact -->
<!-- $bodyid contact -->

<!-- @include head -->

	<!-- @include header -->

	<div id="content">

		<div class="wrap">

			<div id="main" role="main">

				<h1>Contact University Mechanical Contractors, Inc.</h1>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed augue id lacus molestie consequat vitae a orci. Cras pulvinar vulputate odio, nec ultrices ipsum mattis pretium. Praesent tristique mauris sit amet nulla eleifend sodales. Praesent ac enim aliquam justo viverra semper. Proin aliquet egestas lectus, eget luctus nibh sagittis nec. Duis imperdiet quam aliquam eros fringilla pellentesque. Curabitur sit amet turpis eget turpis accumsan eleifend. Nulla facilisi. Nullam ut augue nec justo iaculis laoreet.</p>

				<div class="form">

					<form name="contact" action="" method="">
		
						<ol>
	
							<li>

								<label for="name">Name <span class="required">(Required)</span></label>

								<input name="name" type="text" />

							</li>
	
							<li>

								<label for="email">Email <span class="required">(Required)</span></label>

								<input name="email" type="text" />

							</li>
	
							<li>

								<label for="company">Company</label>

								<input name="company" type="text" />

							</li>
	
							<li>

								<label for="comment">Message</label>

								<textarea name="comment"></textarea>

							</li>
	
						</ol>
		
						<button type="submit">Send</button>
		
					</form>

				</div>

			</div>

			<div id="secondary">

				<div class="contacts">
				
					<ul>
					
						<li><strong>24-hour Emergency Contact Phone:</strong> (206) 364-9910</li>

						<li>
						
							<strong>Street Address:</strong>

							<div class="vcard">

								<div class="adr">

									<div class="street-address">11611 49th Place West</div>

									<span class="locality">Mukilteo</span>,
									
									<span class="region">Washington</span>
									
									<span class="postal-code">98275-4255</span>

								</div>

							</div>
							
						</li>

						<li>
						
							<strong>Mailing Address:</strong>

							<div class="vcard">
							
								<div class="adr">
							
									<div class="street-address">P.O. Box 67</div>

									<span class="locality">Mukilteo</span>,
									
									<span class="region">Washington</span>
									
									<span class="postal-code">98275-0067</span>

							</div>
							
						</li>

						<li><strong>Main Phone:</strong> (206) 364-9900</li>

						<li><strong>Service Phone:</strong> (206) 364-9910</li>

						<li><strong>Fax:</strong> (206) 365-1580</li>

						<li><strong>Bid Fax:</strong> (206) 361-2126</li>

					</ul>
				
				</div>

			</div>

		</div>

	</div>

	<!-- @include recent -->

<!-- @include footer -->